.grid-container {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
    column-gap: 30px;
}

.grid-container > * {
    text-align: left;
}

.grid-container > img {
    max-width: 300px;

    border-style: solid;
    border-radius: 20%;
    border-color: rgb(221, 144, 0);
}

ul {
    list-style: none;
}

.skill-container {
    display: flex;
    margin: auto;
}

.skill {
    width: 25%;
}

.skill > img {
    width: 64px;
    height: 64px;

    display: block;

    margin: auto;
}

.skill > h4 {
    margin-top: 10px;
    margin-bottom: 10px;

    text-align: center;
}

.skill > p {
    margin-top: 10px;

    text-align: center;
    font-size: 14px;
}

#attributions {
    margin-top: 50px;
    margin-left: auto; 
    margin-right: auto;

    text-align: center;
    font-size: 14px;
}