.flex-container {
    display: flex;
}

ul {
    list-style: none;
}

.skill-container {
    display: flex;
    margin: auto;
}

.skill {
    width: 25%;
}

.skill > img {
    width: 64px;
    height: 64px;

    display: block;

    margin: auto;
}

.skill > h4 {
    margin-top: 10px;
    margin-bottom: 10px;

    text-align: center;
}

.skill > p {
    margin-top: 10px;

    text-align: center;
    font-size: 14px;
}