#footer {
    position: fixed;
    bottom: 0;

    width: 100%;
    height: 60px;

    background-color: rgb(60, 60, 60);

    text-align: center;
}

button {
    float: left;

    border-style: none;
    border-radius: 6px;

    margin-top: 13px;
    margin-left: 15px;    

    padding-top: 1px;

    background-color: var(--dm-button-color);

    text-align: center;
}

button:hover {
    background-color: var(--bg-color);
}

#contact-info {
    position: absolute;
    left: 50%;
    transform: translate(-50%);

    padding-top: 15px;
}

#contact-info > a {
    margin-left: 20px;

    text-decoration: none;
}