#header {
    position: relative;
    overflow: auto;

    border-bottom: solid;
    border-color: rgb(221, 144, 0);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    background-color: rgb(122, 122, 122);
}

#header > * {
    margin: 4px;
}

#header > img {
    width: 50px;
    height: 50px;
    
    display: inline-block;
    vertical-align: middle;

    margin-left: 20px;

    border-style: solid;
    border-width: 2px;
    border-color: rgb(221, 144, 0);
    border-radius:50%;
}

#header > a > h2 {
    display: inline-block;
    vertical-align: middle;

    margin-left: 20px;

    font-size: 30px;
    color: rgb(221, 144, 0);
}

#nav-menu {
    display: inline-flex;
    float: right;

    margin-top: 20px;
}

#nav-menu > a {
    margin-left: 2px;
    margin-right: 2px;
    padding: 14px 16px;
    
    border-radius: 6px;

    background-color: white;

    color: rgb(221, 144, 0);
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

#nav-menu > a:hover {
    background-color: rgb(221, 144, 0);

    color: white;
}

