body {
    margin: 0;

    background-color: white;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#container {
    min-height: 100%;
    position: relative;
}

#body {
    padding-bottom: 80px;
}

.content-block {
    margin-top: 5vh;
    margin-left: 15vw;
    margin-right: 15vw;

    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;

    border-style: solid;
    border-width: 2px;
    border-radius: 6px;

    background-color: rgba(180, 180, 180, 0.5);

    text-align: center;
}

.highlight {
    font-weight: bold; 
    color: rgb(221, 144, 0);
}